<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<div class="topnav">
	        	<a href="/">Home</a>
		        <a href="/about">About</a>
			<a href="/blog">Blog</a>
		</div>
		
		<body>

			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		Bananas are forever!
				</ul>
			</footer>
		</body>
	</html>
